* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: rgb(40, 40, 48);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

#logo{
    height: 4em;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

#menu {
    color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}   
ul {
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    color: white;
  }

  .main{
    color:floralwhite;
    margin: 2em;
  }

  .footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin-top: auto;
  }