* {
    font-family: Helvetica, Poppins, Arial, Helvetica, sans-serif;
    color: floralwhite;
}

body {
    margin: 0;
    background-color: rgb(40, 40, 48);
    min-height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
    grid-row: 1 / 2;
    position:sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.286);
    backdrop-filter: blur(3px);
    height: fit-content;
    width: 100vw;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.boujee-text {
  margin: 1rem;
  --bg-size: 600%;
  --color-one: hsl(15 90% 55%);
  --color-two: hsl(40 95% 55%);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: clamp(1rem, 5vmin, 2rem);
  background: linear-gradient(
      90deg,
      pink,
      orange,
      pink,
      skyblue,
      pink
    )
    0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 45s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

#links { 
  display: flex;
  justify-content: space-around;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#bio {
  display: flex;
  width: 90vw;
}
#portfolio { 
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2em;
  padding: 2em;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.project img{ 
  height: 15em;
  padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    height: auto;
    width: 350px;
    border-radius: 8px;
    background-color: rgb(50, 50, 57);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(0, 0, 0, 0.25);
  }

    input {
      border: 2px solid #000;
      padding: 5px;
      border-radius: 5px;
    }

    #textArea {
      color: black;
      min-height: 10em;
      min-width: 22em;
      border: 2px solid #000;
      padding: 9px;
      border-radius: 5px;
    }

    .name {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 1em;
    }

    #first-name {
      margin-right: 0.5em;
      width: 40%;
      color: black;
    }
    #last-name {
      margin-right:0;
      width: 40%;
      color: black;
    }
    #email {
      width: 91%;
      margin-top: 1em;
      color: black;
    }

    #button-container {
      display: flex;
      justify-content: center;
    }

    button {
      margin: 1em;
      border: none;
      cursor: pointer;
      transition: all;
      transition-duration: 250ms;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      background-color: #e8ecf2;
      color: #73787d;
      border-radius: 5px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
      }
      
      button:hover{
          color: white;
      }
      
      button:active{
          box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6),
              1px 1px 5px rgba(0, 0, 0, 0.3), 
              inset -2px -2px 5px rgba(255, 255, 255, 1),
              inset 2px 2px 4px rgba(0, 0, 0, 0.3);
      }

  .footer{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    text-align: center;
    width: 100vw;
    padding: 1em;
  }

    #logo-container {
      display: flex;
      justify-content: space-between;
    }
    .logo {
      height: 4vh;
      margin-left: 1em;
    }